# TABLE 4.1  Sebaran tingkat kebahayaan
pie chart nya di simpan di google spreadsheet "Tesis - Data Eksperimen"

## filter lanza
flow chart perlu menambahkan alir untuk filter kebahayaan berdasarkan kriteria lanza dan marinescu

## kapan refactoring berhenti ?
harm and problem class is exists ?
ya : kembali refactoring
no : stop refactoring

In [1]:
import pandas as pd    
import numpy as np
import sqlite3 as sql

class Harmfulness:
    def __init__(self, db):
        self.conn = sql.connect('sqlite-jcodeodor/database/'+db)

    def dist(self): 
        return pd.read_sql('select name,type,value from detect_dcoh',self.conn)
#     def get_table_warning()     
    def print_excel(self): 
        dist = self.dist()
        return dist
    
    def get_table(self):    
        harm_sql = 'value = 10 '
        problem_sql = 'value >= 7.75 and value < 10'
        trouble_sql = 'value >= 5.5 and value < 7.75'
        warn_sql = 'value >= 3.25 and value < 5.5'
        bother_sql = 'value >= 1 and value < 3.25'
        harm = self.get_total(harm_sql)
        warn = self.get_total(warn_sql)
        trouble = self.get_total(trouble_sql)
        problem = self.get_total(problem_sql)
        bother = self.get_total(bother_sql)
        arr = np.array([ ['Harm', harm], ['Problem', problem], 
        ['Trouble', trouble], ['Warning', warn],
                        ['Bother', bother]])
        df2 = pd.DataFrame(arr, columns=['level', 'frekuensi'])
        return df2

    def get_total(self,level_sql):
        base_sql = 'select count(*) as total from detect_dcoh where'     	
        return pd.read_sql(base_sql +' '+ level_sql,self.conn).total[0]
    
    def is_view_has_created(self):
#         jika view belum dibuat, langsung error bahwa table detect_dcoh belum dibuat
        if(self.get_total('value >= 7.75 and value < 10')):
            print('yes, detect_dcoh has created')            
    
    #spesial case untuk      
    def filter_for_test_function(self):
        pass
    
tahap0 = Harmfulness('1-compiled.sqlite')
tahap1 = Harmfulness('3-experiment2.sqlite')

tahap0.is_view_has_created()
tahap1.is_view_has_created()

yes, detect_dcoh has created
yes, detect_dcoh has created

In [11]:
# kriteria smell dco menurut lanza hardly avoidable
# berdasarkan kriteria lanza, beberapa kelas yang terdeteksi berbahaya tidak ikut direfactoring.
# berikut daftar kelas nya.
tahap1.to_excel("tahap-awal.xlsx")
# comp.dist().to_excel("tahap-awal.xlsx")

In [14]:
comp.get_table()

     level frekuensi
0     Harm         6
1  Problem        25
2  Trouble        34
3  Warning        12
4   Bother         0

In [15]:
exp2.get_table()

     level frekuensi
0     Harm         2
1  Problem         8
2  Trouble        29
3  Warning         9
4   Bother         0

In [16]:
exp2.dist()
# exp2.dist().to_excel('warning.xlsx')